
body

{
	margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;
	height: 100%;
	width: 100%;
}



header

{
	height: 180px;
	width: 100%;
	background-color: #64B5A2;
}

footer

{
	height: 120px;
	width: 100%;
    background-color: #64B5A2;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: -6px;
    position: fixed;
    bottom: 0px;
}

table

{
	width: 100%;
}

table p

{
	font-size: 2em;
	color:  #FED332;
}

.rest1, .rest2, .rest3, .rest4

{
	box-shadow: 0px 0px 10px 8px  #E9E9E9;
	height: 702px;
	width: 70%;
	
}

a

{
	text-decoration: none;
}

.rest1 i

{
	color: #FF7F50;
	margin-left: 21px;
	margin-top: 200px;
}

.rest1

{
	background-color:  #FFDCDC;
	display: inline-block;
}

.trest1, .tmenu1

{
	font-size: 2.5em;
	color:  #413521;
	text-align: center;
}

.rest2

{
	background-color:  #FFECFC;
	display: inline-block;
}

.trest2

{
	font-size: 2.5em;
	text-align: center;
	margin-top: 270px;
	background: -webkit-linear-gradient(300deg, #CF8A00, #5E3DFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}	


.tmenu2

{
	font-size: 3em;
	text-align: center;
	color:  #CF8A00;
}

.rest3

{
	background-color:  #EFEFEF;
	display: inline-block;
}

.trest3

{
	font-size: 2.5em;
	text-align: center;
	margin-top: 270px;
	background: -webkit-linear-gradient(400deg, #1600FF, #6F75FF, #2AACFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.tmenu3

{
	font-size: 3em;
	text-align: center;
	color:   #6F75FF;
}

.rest4

{
	background-color:  #FFFFFF;
	display: inline-block;
}

.trest4

{
	font-size: 2.5em;
	text-align: center;
	margin-top: 270px;
	background: -webkit-linear-gradient(400deg, #096600, #A5FF51);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.tmenu4

{
	font-size: 3em;
	text-align: center;
	color:   #5FB057;
}
div .bordure3 .bordure4

{
	width: 20%;
}

.Titre

{
	display: block;
	font-size: 5em;
	text-align: center;
	margin-top: auto;
	padding-top: 47px;
	color:  #FED332;

}

.rectangle

{
	width: 1000px;
	height: 1500px;
	background-color:  #FFDCDC;
	margin: auto;
	margin-bottom: 220px;
}

.rectangle2

{
	width: 1000px;
	height: 1310px;
	background-color:  #FFECFC;
	margin: auto;
	margin-bottom: 220px;
}

.rectangle3

{
	width: 1000px;
	height: 1270px;
	background-color:  #EFEFEF;
	margin: auto;
	margin-bottom: 220px;
}

.rectangle4

{
	width: 1000px;
	height: 1280px;
	background-color:  #FFFFFF;
	margin: auto;
	margin-bottom: 220px;
}

.section5

{
    border-radius:15px;
    height: 90px;
	width: 550px;
	background-color: #64B5A2;
	margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 200px;
    text-align: center;
}

.prochainement

{
    font-size: 3em;
	text-align: center;
	color:  #FED332;
	display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}

.loading

{ 
    width: 20px;
    display: inline-block;
    font-size: 3em;
    color: #FED332;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;     
  animation: ellipsis steps(6,end) 2s infinite;
  content: "...";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 80px;    
  }
}

.mention:hover

{
	animation: thing 10s;
}

.mention

{
	margin-top: 37px;
	text-align: left;
	margin-left: 35px;
}
.mention a

{
	font-size: 1em;
	color:  #FED332;
	text-decoration: none;
}

.contact:hover

{
	animation: thing 10s;
}


@keyframes thing
{
	0%{transform: rotate(10deg)}
	3%{transform: rotate(-10deg)}
	4%{transform: rotate(10deg)}
	5%{transform: rotate(0deg)}
	100%{transform: rotate(0deg)}
}

.contact a

{
	text-decoration: none;
	color:  #FED332;
}

.contact

{
	margin-top: 37px;
	text-align: right;
	margin-right: 35px;
}

.menu1

{
	width: 37%;
	margin-left: 130px;
	margin-top: 40px;
}

.menu2

{
	width: 37%;
	margin-left: 90px;
	margin-top: 40px;
}

.menu3

{
	width: 37%;
	margin-left: 130px;
	margin-top: 90px;
}

.menu4

{
	width: 37%;
	margin-left: 90px;
	margin-top: 90px;
}

.menud1

{
	text-align: center;
	margin-left: 70px;
}

.menurestaurant

{
	font-size: 3em;
	text-align: center;
	color: black;
	margin-bottom: 15px;
}

.menurestaurant2

{
	display: inline-block;
	width: 100%;
	font-size: 3em;
	text-align: center;
	margin-top: 140px;
	background: -webkit-linear-gradient(300deg, #CF8A00, #5E3DFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menurestaurant3

{
	display: inline-block;
	width: 100%;
	font-size: 3em;
	text-align: center;
	margin-top: 140px;
	background: -webkit-linear-gradient(400deg, #1600FF, #6F75FF, #2AACFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menurestaurant4

{
	display: inline-block;
	width: 100%;
	font-size: 5.5em;
	text-align: center;
	margin-top: 140px;
    background: -webkit-linear-gradient(400deg, #096600, #A5FF51);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.bordure1, .bordure2, .bordure3, .bordure4

{
    border-bottom: 7px  solid  #352A19;
}

.bordure1

{
	margin-left: 80px;
	margin-right: -40px;
}

.bordure2

{
	margin-right: 40px;
}

.entree

{
	margin-top: 70px;
}

.entree21

{
	margin-top: 70px;
	color: #CF8A00;
}

.entree22

{
	margin-top: 70px;
	color: #C986DC;
}

.entree23

{
	margin-top: 70px;
	color: #5E3DFF;
}

.Tableau, .EPD

{
	width: 30%;
	display: inline-block;
	font-size: 2em;
	text-align: center;
}

.EPD

{
	margin-left: 50px; 
}

.EPD:after 

{
    content: '';
    display: block;
    bottom: 2px;
    width: 0%;
    left: 0px;
    height: 6px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: #FF7F50;
}


.EPD:hover:after {
        width: 100%;
    }


.Premier

{
	font-size: 1.3em;
	margin-top: 40px;
	text-align: left;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.Premier2

{
	display: inline-block;
	width: 70%;
	font-size: 1.3em;
	margin-top: 40px;
    margin-left: 80px;
    text-align: left;
    color: #5E3DFF;
}

.prix

{
	display: inline-block;
    right: 0;
    position: absolute;
}


.rectangle i

{
	color: #FF7F50;
	margin-left: 440px;
	margin-top: 90px;
}


.dernier i

{
	color: #FF7F50;
	margin-left: 0px;
	margin-top: 50px;
}

.dernier2

{
	margin-top: 60px;
}

.dernier p

{
	font-size: 2.3em;
}

.Lorem

{
	font-size: 1.5em;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 240px;
}

.Tmention

{
	font-size: 2.3em;
	text-align: center;
	color: #FED332;
	margin-top: 70px;
}


.row {
	width: 100%;
}

.cell {
	width: 49%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: 75px 0px;
}

@media all and (max-width: 1024px) {
	.cell {
		width: 100%;
	}
}

.rest1:hover p, .rest2:hover p, .rest3:hover p, .rest4:hover p,
.rest1:hover i, .rest2:hover i, .rest3:hover i, .rest4:hover i {
	transform: scale(1.5);
	transition-duration: 2s;
}






